:root{

  --bg:#09090b;

  --card:#18181b;

  --border:#27272a;

  --text:#fafafa;

  --secondary:#a1a1aa;

  --primary:#3b82f6;

  --danger:#ef4444;
}

*{

  margin:0;

  padding:0;

  box-sizing:border-box;
}

body{

  min-height:100vh;

  font-family:Arial,sans-serif;

  background:var(--bg);

  color:var(--text);

  display:flex;

  justify-content:center;

  padding:50px 20px;
}

.container{

  width:100%;

  max-width:900px;
}

h1{

  font-size:3rem;

  margin-bottom:20px;
}

.description{

  color:var(--secondary);

  line-height:1.8;

  margin-bottom:35px;
}

.card{

  background:var(--card);

  border:1px solid var(--border);

  border-radius:16px;

  padding:25px;

  margin-bottom:20px;

  transition:.3s;
}

.card:hover{

  transform:translateY(-5px);

  border-color:var(--primary);
}

.card h2{

  margin-bottom:15px;
}

.card p{

  color:var(--secondary);

  margin-top:15px;
}

code{

  display:block;

  background:#0f172a;

  padding:15px;

  border-radius:10px;

  color:#60a5fa;
}

.warning{

  margin-top:20px;

  padding:25px;

  border-radius:16px;

  border:1px solid var(--danger);

  background:rgba(239,68,68,.1);
}

.warning h3{

  margin-bottom:10px;

  color:var(--danger);
}

.warning p{

  color:#d4d4d8;
}